[Desktop Entry]
Type=Application
Name=EnCap
Comment=Assemble, chapter, transcribe, and encode audio
Exec=encap %F
Icon=com.tlolabs.encap
Terminal=false
Categories=AudioVideo;Audio;
MimeType=application/x-encap;
StartupNotify=true

